* {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/img/bg.jpg);
  color: #1d1e4e;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

.App{
  margin: 10px 80px 0 80px;
}

header {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 180px;
  
}



.todo-input{
  display: flex;
  justify-content: space-between;
}

form {
  min-height: 20vh;
}

form input{
  width: 100%;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}

form button {
  color: #1d1e4e;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #1d1e4e;
  color: white;
}





.todo-container {
  display: flex;
  justify-content: center;
  min-height: 250px;
}

.todo-list {
  min-width: 90%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: transparent;
  font-size: 1.2rem;
  color: #37373a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  color: #1d1e4e;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 20px;
  background-color: transparent;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: transparent;
}

/* Custom Select */
.select {
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  
}
select {
  color: #1d1e4e;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  width: 25%;
}
/* Arrow */
.select::after {
  content: "\25BC";
  color: #1d1e4e;
  padding: 1rem;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 22%;
}